/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff; /* Changed the color to white */
    padding: 20px;
    text-align: center;
}

/* Navigation styles */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Section styles */
section {
    padding: 50px;
}

.course {
    margin-bottom: 30px;
}

.course img {
    display: block;
    margin: 0 auto 10px; /* Center the image and add some bottom margin */
}

#sports,
#certificates {
    padding: 50px;
}

#sports ul,
#certificates ul {
    list-style-type: disc;
    margin-left: 20px;
}

#sports h2,
#certificates h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
}

.social-media,
.contact {
    flex-basis: 45%;
}

.social-media ul {
    padding: 0;
    list-style-type: none;
}

.social-media ul li {
    margin-bottom: 10px;
}

.social-media ul li a {
    color: #fff;
    text-decoration: none;
}

.contact p {
    margin: 10px 0;
}
